
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">MANTENIMIENTO</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class=" fas fa-boxes me-1"> </i> Lista de Productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo Producto</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para abrir otro formulario al presionar 'Crear Usuario' -->
<div class="modal fade" id="FormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <input id="txtID" type="text" value="0" />
                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class=" mb-2">
                            <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="MostrarImagen(this)" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class=" mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Ej: Televisor" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripcion</label>
                            <textarea type="text" class="form-control" id="txtDescripcion" name="descripcion" style="height:125px; resize:none"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class=" mb-3">
                            <label class="form-label">Marca</label>
                            <select id="cbMarca" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Categoria</label>
                            <select id="cbCategoria" class="form-select">
                            </select>
                            <div class="mb-3">
                                <label class="form-label">Precio</label>
                                <input type="text" class="form-control" id="txtPrecio" name="precio" placeholder="Ej: $18.000" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class=" mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtStock" name="stock" placeholder="Ej: 1200" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Activo</label>
                            <select id="cbActivo" class="form-select">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>

                <!--Mensaje de Alerta-->
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var tablaData;
        var filaSeleccionada;

        function MostrarImagen(input) {//-->Seleccionada la imagen la pinta, le paso this es decir a si mismo
            if (input.files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#img_producto").attr("src", e.target.result).width(200).height(197);
                }
                reader.readAsDataURL(input.files[0]);//-->El primer archivo es el que se mostrara
            }
        }

        tablaData = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarProductos", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombre" },
                { "data": "Descripcion" },
                {
                    "data": "oMarca", "render": function (data) {
                        return data.Descripcion;
                    }
                },
                {
                    "data": "oCategoria", "render": function (data) {
                        return data.Descripcion;
                    }
                },
                { "data": "Precio" },
                { "data": "Stock" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>';
                        } else {
                            return '<span class="badge bg-danger">No</span>';
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchtable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json"
            }
        });


        jQuery.ajax({
            url: '@Url.Action("ListarMarcas", "Mantenedor")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=itf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cbMarca");

                $.each(data.data, function (index, valor) {//-->Me muestra TODAS LAS MARCAS
                    $("<option>").attr({ "value": valor.IDMarca }).text(valor.Descripcion).appendTo("#cbMarca");
                });
            },
            error: function (error) {

            }
        });

        jQuery.ajax({
            url: '@Url.Action("ListarCategorias", "Mantenedor")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=itf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cbCategoria");

                $.each(data.data, function (index, valor) {//-->Me muestra TODAS LAS MARCAS
                    $("<option>").attr({ "value": valor.IDCategoria }).text(valor.Descripcion).appendTo("#cbCategoria");
                });
            },
            error: function (error) {

            }
        });


        //Metodo para abrir formulario nuevo, recibe un OBJETO LLAMADO JSON
        function abrirModal(json) {

            $("#txtID").val(0);
            $("#txtDescripcion").val("");
            $("#txtNombre").val("");
            $("#txtStock").val("");
            $("#txtPrecio").val("");
            $("#img_producto").removeAttr("src");//-->Limpio imagen q ya se muestra
            $("#fileProducto").val("");
            $("#cbActivo").val(1);//-->Si es true entonces 1 (SI) : sino (else) es 0 (NO)
            $("#cbMarca").val($("#cbMarca option:first").val());//-->Mostrara la opcion 'SELECCIONAR'
            $("#cbCategoria").val($("#cbCategoria option:first").val());//-->Mostrara la opcion 'SELECCIONAR'
            $("#mensajeError").hide();//-->Oculto el msg de error

            if (json != null){
                $("#txtID").val(json.IDProducto);
                $("#txtNombre").val(json.Nombre);
                $("#txtDescripcion").val(json.Descripcion);
                $("#txtPrecio").val(json.Precio);
                $("#txtStock").val(json.Stock);
                $("#cbMarca").val($(json.oMarca.IDMarca));//-->Mostrara la opcion 'SELECCIONAR'
                $("#cbCategoria").val($(json.oCategoria.IDCategoria));
                $("#cbActivo").val(json.Activo == true ? 1 : 0);//-->Si es true entonces 1 (SI) : sino (else) es 0 (NO)
            }
            $("#FormModal").modal("show");//--> #FormModal referencio al modal
        };

        $("#tabla tbody").on("click", '.btn-editar', function () {//-->Cuerpo de funcion que al presionar el btn de EDITAR ahce algo

            filaSeleccionada = $(this).closest("tr");//-->Fila seleccionada

            var data = tablaData.row(filaSeleccionada).data();//-->Selecciono los datos d la fila elegida en la dataTable

            abrirModal(data);//-->Vuelvo a abrir el modal pasandole la fila SELECCIONADA
        });

        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var marcaSeleccionada = $(this).closest("tr");
            var data = tablaData.row(marcaSeleccionada).data();
            swal({
                title: "¿Está seguro?",
                text: "¿Desea eliminar la marca?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si, deseo eliminarla!",
                closeOnConfirm: false
            },
            function () {
                jQuery.ajax({
                    url: '@Url.Action("EliminarMarca","Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IDMarca }),
                    dataType: "json",
                    contentType: "application/json; charset=itf-8",
                    success: function (data) {
                        if (data.resultado) {
                            tablaData.row(marcaSeleccionada).remove().draw();
                            swal("Eliminada!", "La marca seleccionada ha sido eliminada.", "success");
                        } else {
                            swal("No se pudo eliminar la marca seleccionada.", data.mensaje, "error");
                        }
                    },
                    error: function (error) { // Cambio aquí
                        console.log(error);
                    }
                });
            });
        });

        function Guardar() {

            var ImagenSeleccionada = $("#fileProducto")[0].files[0];//-->Primer archivo edl control

            var producto = {//-->Creo mi objeto producto
                IDProducto: $("#txtID").val(),
                Descripcion: $("#txtDescripcion").val(),
                Nombre: $("#txtNombre").val(),
                oMarca: {
                    IDMarca: $("#cbMarca option:selected").val(),
                    Descripcion: $("#cbMarca option:selected").text()
                },
                oCategoria: {
                    IDCategoria: $("#cbCategoria option:selected").val(),
                    Descripcion: $("#cbCategoria option:selected").text()
                },
                PrecioTexto: $("#txtPrecio").val(),
                Precio: $("#txtPrecio").val(),
                Stock: $("#txtStock").val(),
                Activo: $("#cbActivo").val() == 1 ? true : false,
            }

            var request = new FormData();//-->Valores a almacenarse
            request.append("producto", JSON.stringify(producto));
            request.append("archivoImagen", ImagenSeleccionada);

            // Estructura AJAX para llamar al método que está en el MantenedorController.
            jQuery.ajax({
                url: '@Url.Action("GuardarProducto", "Mantenedor")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");//-->Ocultara el circulo de 'Cargando...'

                    if (producto.IDProducto == 0) {//-->Si ID es 0 entonces estoy CREANDO uno nuevo

                        if (data.idGenerado != 0) {//-->si es distinto

                            producto.IDProducto = data.idGenerado;//-->Le setteo el resultado
                            tablaData.row.add(producto).draw(false);//-->Agrego una nueva fila de producto
                            $("#FormModal").modal("hide");//--> #FormModal referencio al modal y lo oculto asi no se sigue mostrando.
                        }
                        else {
                            $("#mensajeError").text(data.mensaje);//Imprimo el mensaje de eeror
                            $("#mensajeError").show();//-->Muestro el mensaje de error.
                        }
                    }
                    else {//-->Para MODIFICAR un producto
                        if (data.operacionExitosa) {
                            tablaData.row(filaSeleccionada).data(producto).draw(false);//-->Acutaliza la marca de la fila seleccionada
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");//--> #FormModal referencio al modal y lo oculto asi no se sigue mostrando.
                        }
                        else {
                            $("#mensajeError").text(data.mensaje);//Imprimo el mensaje de eeror
                            $("#mensajeError").show();//-->Muestro el mensaje de error
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide")//-->Ocultara el circulo de 'Cargando...'
                    $("#mensajeError").text("Error AJAX.");//Imprimo el mensaje de eeror
                    $("#mensajeError").show();//-->Muestro el mensaje de error.
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {//-->Mostrara el circulo de 'Cargando...'
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                },
            });
        }
    </script>

}

